@charset "UTF-8";

.noscroll{
    overflow: hidden;
}
.d-flex{
    display: flex;
}
.sp-block{
    display: none;
}
@media screen and (max-width: 768px) {
    .pc-block{
        display: none;
    }
    .sp-block{
        display: block;
    }
}